<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @catalogo_usuario.tipo %>
</p>

<%= link_to 'Edit', edit_catalogo_usuario_path(@catalogo_usuario) %> |
<%= link_to 'Back', catalogo_usuarios_path %>
